.panda-bg-info {
    background-color: rgb(52, 54, 55);
}

.brightness {
    filter: brightness(50%);
}

.text-color {
    background-color: white;
    border-color: black;
    height: 40px;

    width: 40px;
    font-size: 40px;

}